body {
  font-family: Sans-Serif, Helvetica, Arial;
}

h1 {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.half_table {
  width: 50%;
  display: inline-block;
  text-align: left;
  vertical-align:top;
  border-collapse: collapse;
}

th {
  font-weight: normal;
}

td {
  font-weight: 600;
}

.other_studies {
  border: 1px black solid;
  border-top: 1px black solid;
  font-size: 0;
}

.other_studies .lb {
  border-left: 1px black solid;
}

.is {
  padding: 11.5px 0px;
}

.main {
  font-size: 0;
  margin-bottom: 20px;
}

.read_naked_choke {
  border-right: 1px black solid;
}

.other_studies tbody {
  display: table;
  width: 100%;
  margin-bottom: 10px;
}

.other_studies tr {
  width: 100%;
}

.bb {
  border-bottom: 1px black solid;
}

.tb {
  border-top: 2px black solid;
}

.akad {
  text-align: center;
}

.akad th {
  width: 50%;
}
